
body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    background: #eee;
    font-family: "roboto", serif;
  }

  a {
    /* this removes the line under our links */
    text-decoration: none;
    color: #E5E7EB;
  }


  button {
    color: #E5E7EB;
    background-color: #3882f6;
    display: flex;
    flex: 1;
    flex-shrink: 0;
    border-radius: 6px;
    max-width: 100px;
  }

  p {
    margin: 0;
  }

/* Header + Hero */  
/* .header-hero-container {
    margin-top: 12px;
    margin-bottom: 100px;
    margin-left: 120px;
    margin-right: 120px;
} */

/* How to get all alements to adhere to margins/gutters */
/* Make background stretch to cover more height */

.header-container {
    font-size: 18px;
    background: #1F2937;
    display: flex;
    justify-content: space-around;
    height: 100%;
    margin-bottom: auto;
}

.header-logo-text {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.header-link-text {
    display: flex;
    justify-content: space-between;
    flex-basis: 25rem;
    font-size: 18px;
    color: #E5E7EB;
}

/* BG extend to full page? */
/* Less space between lines */
.hero  {
    background: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: space-around;
    height: 100%;
    margin-bottom: auto;
}

.website-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.text-block-container, .image-container {
    display: flex;
    flex-flow: column;
    flex: 1;
    justify-content: space-between;
}

.text-block-container  {

}

.image-container {
    align-items: center;
    justify-content: center;
    background-color: gray;
}


/* section2 */
/* section3 */
/* section4 */
/* footer */
.footer {
    font-size: 18px;
    background: #1F2937;
    color: #E5E7EB;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}