
body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    background: #eee;
    font-family: "roboto", serif;
  }

  a {
    /* this removes the line under our links */
    text-decoration: none;
    color: #E5E7EB;
  }


  button {
    color: #E5E7EB;
    background-color: #3882f6;
    text-align: center;
    display: flex;
    flex-shrink: 0;
    align-items: flex-start;
    border-radius: 6px;
    max-width: 100px;

  }

  img {
    width: 100px;
    height: 100px;
  }

  p {
    margin: 0;
  }

/* Header + Hero */  
.header-hero-container {
    display: flex;
    flex-flow: column wrap;
}

/* How to get all alements to adhere to margins/gutters */
/* Make background stretch to cover more height */

.section1-container {
    background: #1F2937;
}


/* HEADER */
.header-container {
    font-size: 18px;
    background: #1F2937;
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    margin-bottom: 100px;
}

.header-logo-text {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.header-link-text {
    display: flex;
    justify-content: space-between;
    flex-basis: 25rem;
    font-size: 18px;
    color: #E5E7EB;
}

/* HERO */
/* BG extend to full page? */
/* Less space between lines */
.hero  {
    background: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    height: 100%;
    margin-bottom: 100px;
}

.website-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.text-block-container, .image-container {
    display: flex;
    flex-flow: column;
    flex: 1;
    justify-content: space-between;
}

.text-block-container  {

}

.image-container {
    align-items: center;
    justify-content: center;
    background-color: gray;
}


/* section2 */
.title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 24px;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info {
    max-width: 200px;
}
/* section3 */
/* section4 */
/* footer */
.footer {
    font-size: 18px;
    background: #1F2937;
    color: #E5E7EB;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1-container, .section2-container, .section3, .section4, .footer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}